[Unit]
Description=Run Watch JKS
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 docker.com; do sleep 1; done'
ExecStart=/usr/bin/docker run --pull=always --env-file /home/sean/.watch-jks.env -- ngseke/watch-jks:latest

[Install]
WantedBy=multi-user.target
